.ac-checkbox {
    border-radius: 0.25rem;
    border: 2px solid var(--ac-input-border);
    color: var(--ac-green);
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}
.ac-checkbox:focus {
    outline: none;
}
.ac-checkbox:focus-visible {
    box-shadow: 0 0 0 3px rgba(109, 186, 109, 0.4);
    border-color: var(--ac-green);
}
.ac-checkbox:checked {
    background-color: var(--ac-green);
    border-color: var(--ac-green-dark);
}
